
body
{
    font-family: Arial, sans-serif;
    background-color:rgb(248, 248, 248);
    margin: 0;
    padding: 0%;


}

header
{
background-color:rgb(28, 179, 199);
color: white;
text-align: center;
padding: 20px;
font-size: 1.5em;
margin-bottom: 30px;


}

.profile
{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(216, 216, 221);
    background-color: rgb(28, 179, 199);
    text-align: center;


}

.profile img
{
width: 150px;
height: 150px;
border-radius:50%;
margin-bottom:15px ;



}


.profile p
{
    font-size: 24px;
   
}

.bio
{
font-size: 95%;
margin-top:15px ;

}


footer
{
 color: rgb(141, 44, 44);
 text-align: center;
 padding: 20px;
 margin-top: 40px ;

}



